{"name":"namespace","vers":"0.1.0","deps":[],"cksum":"dc44462c59b119919eeb6306b58c99a7eb4a931976bd6b4db294d078b446ff1d","features":{},"yanked":false,"links":null}
{"name":"namespace","vers":"0.2.0","deps":[{"name":"namespace/subcrate","req":"^0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"1f1b608d7ba96461a1b54159caa399dd854965a5f74876ae9f420f1e3b13de8e","features":{},"yanked":false,"links":null}
{"name":"namespace","vers":"0.3.0","deps":[{"name":"namespace-subcrate","req":"^0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"954d6e819533f60c8ab62d5b6e727bbc3f36b8316e58e09e3cecb0032d520f57","features":{},"yanked":false,"links":null}
